h1 {
    margin: auto;
    text-align: center;
    text-decoration: underline;
}

img {
    margin: auto;
    margin-top: 200px;
    margin-bottom: 10px;
    margin-left: 700px;
    margin-right: 700px;
}

p {
    color: white;
    margin: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 720px;
    margin-right: 500px;
}