h1 {
    margin: auto;
    text-align: center;
    text-decoration: underline;
}

img {
    margin: auto;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 700px;
    margin-right: 700px;
}